{% extends "./base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('tools.static', filename='css/RCG/RCG.css')}}">
<title>Random Color Generator</title>
{% endblock %}

{% block content %}
<a href="/"> &#60; Home</a>

<div>
    <p id="black">rgb({{red}}, {{green}}, {{blue}})</p>
    <p id="grey">rgb({{red}}, {{green}}, {{blue}})</p>
    <p id="white">rgb({{red}}, {{green}}, {{blue}})</p>
</div>
{% endblock %}

{% block script %}
<script>document.body.style.backgroundColor = 'rgb({{red}}, {{green}}, {{blue}})';</script>
{% endblock %}
