<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Administrator</title>
    <link rel="stylesheet" href="{{url_for('spotifySearch.static', filename='css/admin.css')}}">
    <link rel="shortcut icon" href="{{url_for('spotifySearch.static', filename='img/iconSpotifySearch.png')}}">
</head>
<body>


    <a href="{{url_for('spotifySearch.logout')}}">logout</a> <br>
    <form action="{{url_for('spotifySearch.admin')}}" method="post">
        <input type="text" id="ID" name="ID">
        <input type="submit" value="add">
    </form>
    <br>
    <table style="border: black solid;">
        <tr>
          <th>playlist ID</th>
          <th>mood</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        {% for i in range(len) %}
            <tr>
                <td style="font-family:'Lucida Console', monospace">{{playlists[i][0]}}</td>
                <td style="font-family:'Lucida Console', monospace">{{playlists[i][1]}}</td>
                <td>{{playlists[i][2]}}</td>
                <td>{{status[i]}}</td>
                <td><a href="{{url_for('spotifySearch.adminEdit', playlistID=playlists[i][0])}}">Edit</a></td>
                <td><a href="{{url_for('spotifySearch.RemovePlaylist', playlistID=playlists[i][0])}}">Delete</a></td>
                
                
            </tr>
        {% endfor %}
      </table> 
    
</body>
<script src="{{url_for('spotifySearch.static', filename='script/adminEdit.js')}}"></script>
</html>