{% extends "base.html" %}

{% block head %}
<title>Administrator</title>
<link rel="stylesheet" href="{{url_for('spotifySearch.static', filename='css/admin.css')}}">
{% endblock %}

{% block content %}
<a href="{{url_for('spotifySearch.logout')}}">logout</a> <br>
<form action="{{url_for('spotifySearch.admin')}}" method="post">
    <input type="text" id="ID" name="ID">
    <input type="submit" value="add">
</form>
<br>
<table style="border: black solid;">
    <tr>
        <th>playlist ID</th>
        <th>mood</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {% for playlist in PlaylistSet %}
        <tr>
            <td style="font-family:'Lucida Console', monospace">{{playlist['ID']}}</td>
            <td style="font-family:'Lucida Console', monospace">{{playlist['mood']}}</td>
            <td>{{playlist['description']}}</td>
            <td>{{playlist['status']}}</td>
            <td><a href="{{url_for('spotifySearch.adminEdit', playlistID=playlist['ID'])}}">Edit</a></td>
            <td><a href="{{url_for('spotifySearch.RemovePlaylist', playlistID=playlist['ID'])}}">Delete</a></td>
            
            
        </tr>
    {% endfor %}
</table> 
{% endblock %}

{% block script %}
<script src="{{url_for('spotifySearch.static', filename='script/adminEdit.js')}}"></script>
{% endblock %}