<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Administrator</title>
    <link rel="stylesheet" href="{{url_for('spotifySearch.static', filename='css/adminEdit.css')}}">
    <link rel="shortcut icon" href="{{url_for('spotifySearch.static', filename='img/iconSpotifySearch.png')}}">
</head>
<body onload="setUp()">

    <h1>{{playlist[0]}}</h1>
    <iframe src="https://open.spotify.com/embed/playlist/{{playlist[0]}}" width="50%" height="400" style="float: right;" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    <form method="POST" style="min-height:400px;">
        <label for="mood">Mood</label><br>
        <input type="text" value="{{playlist[1]}}" name="mood" id="mood"><br>
        <span id="error">Valid Mood</span><br><br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="75" rows="15">{{playlist[2]}}</textarea><br>
        <input type="submit" id="submit">
    </form>


    <div id="questions"></div>

    <a href="{{url_for('spotifySearch.RemovePlaylist', playlistID=playlist[0])}}">Delete</a>
    
</body>

<script src="{{url_for('spotifySearch.static', filename='script/adminEdit.js')}}"></script>
</html>