<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Color Generator</title>
    <link rel="stylesheet" href="./static/css/RCG/randomColor.css">
    <link rel="icon shortcut" href="./static/img/icon.png">
</head>

<body style="background-color: rgb({{red}},{{green}},{{blue}});">

    <a href="/"> &#60; Home</a>

    <div>
        <p id="black">rgb({{red}}, {{green}}, {{blue}})</p>
        <p id="grey">rgb({{red}}, {{green}}, {{blue}})</p>
        <p id="white">rgb({{red}}, {{green}}, {{blue}})</p>
    </div>




</body>

</html>