{% extends "./base.html" %}

{% block head %}
<title>Weather</title>
<link rel="stylesheet" href="{{url_for('tools.static', filename='./css/Weather/Weather.css')}}">
{% endblock %}

{% block content %}
<a href="{{url_for('tools.Weather')}}">&#60; Back</a>
<div>

    <h1>{{myTemperature['name']}}</h1>
    <h2>{{myTemperature['main']['temp']}}ºC</h2>
</div>
{% endblock %}

{% block script %}
<script>document.body.style.background = 'url(background.jpg)'; console.log('{{myImage}}')</script>
{% endblock %}