<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alonso284's Blog</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>

<body>
    <div id="main">
        <h1>Welcome to my Blog</h1>
        <hr><br>
        <div id="aboutMe">
            <h2>About Me</h2>
            <p><img src="./static/img/aboutMe.jpg" alt="aboutMe"> Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Neque quos, ipsam libero pariatur omnis obcaecati culpa temporibus. Quaerat molestiae laudantium,
                suscipit ducimus nam ex iusto, deleniti facere ratione necessitatibus ad. Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Neque quos, ipsam libero pariatur omnis obcaecati culpa temporibus.
                Quaerat molestiae laudantium, suscipit ducimus nam ex iusto, deleniti facere ratione necessitatibus ad.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quos, ipsam libero pariatur omnis
                obcaecati culpa temporibus. Quaerat molestiae laudantium, suscipit ducimus nam ex iusto, deleniti facere
                ratione necessitatibus ad. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quos, ipsam
                libero pariatur omnis obcaecati culpa temporibus. Quaerat molestiae laudantium, suscipit ducimus nam ex
                iusto, deleniti facere ratione necessitatibus ad. Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Neque quos, ipsam libero pariatur omnis obcaecati culpa temporibus. Quaerat molestiae laudantium,
                suscipit ducimus nam ex iusto, deleniti facere ratione necessitatibus ad. Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Neque quos, ipsam libero pariatur omnis obcaecati culpa temporibus.
                Quaerat molestiae laudantium, suscipit ducimus nam ex iusto, deleniti facere ratione necessitatibus ad.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quos, ipsam libero pariatur omnis
                obcaecati culpa temporibus. Quaerat molestiae laudantium, suscipit ducimus nam ex iusto, deleniti facere
                ratione necessitatibus ad. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quos, ipsam
                libero pariatur omnis obcaecati culpa temporibus. Quaerat molestiae laudantium, suscipit ducimus nam ex
                iusto, deleniti facere ratione necessitatibus ad.
            </p>

        </div>
        <hr><br>
        <div id="webApps">
            <h2>Web Apps</h2>
            <ul>
                <li> <a href="/RandomWordGenerator">RWG (on development)</a> </li>
                <li>RCG (on development)</li>
            </ul>
        </div>
    </div>

</body>

</html>