<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="../static/css/spotifySearch/admin.css">
</head>
<body>


    <a href="/spotifySearch/logout">logout</a>
    <table style="border: black solid;">
        <tr>
          <th>playlist ID</th>
          <th>mood</th>
          <th>Description</th>
        </tr>
        {% for r in playlists %}
            <tr>
                <td style="font-family:'Lucida Console', monospace">{{r[0]}}</td>
                <td style="font-family:'Lucida Console', monospace">{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td><a href="/spotifySearch/admin/{{r[0]}}">Edit</a></td>
            </tr>
        {% endfor %}
      </table> 
    
</body>
</html>