<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Search</title>
    <link rel="stylesheet" href="../static/css/spotifySearch/spotifySearch.css">
</head>
<body onload="setUp()">

    <div id="questions"></div>

    <a id="load" href="">Find Playlist</a>

</body>

<script src="../../static/script/spotifySearch/search.js"></script>
</html>